<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/materialize/css/style.css">	
<meta charset="ISO-8859-1">
<title>Cadastro de Pessoa</title>
</head>
<body>
	<h3>Spring boot + Thymeleaf + Material Design Lite</h3>
	<h5>Cadastro de pessoa</h5>
	<div class="row">
	
	<br/>
		<div th:each="m : ${msg}">
			<ul class="collection">
				<li class="collection-item"><span th:text="${m}"></span></li>
			</ul>
		</div>
	<br/>
	
	
		<form action="salvarpessoa" method="POST" th:object="${pessoaobj}"
			class="col s12" id="formPessoa">
			<div class="row">

				<div class="input-field col s6">
					<label for="id" class="active">id:</label> <input type="text"
						name="id" th:field="*{id}" readonly="readonly" id="id"
						class="validate" />
				</div>

				<div class="input-field col s6">
					<label for="nome" class="active">Nome:</label> <input type="text"
						name="nome" th:field="*{nome}" id="nome" class="validate" />
				</div>
				<div class="input-field col s6">
					<label for="sobrenome" class="active">Sobrenome:</label> <input
						type="text" name="sobrenome" th:field="*{sobrenome}"
						id="sobrenome" class="validate" />
				</div>

				<div class="input-field col s6">
					<label for="idade" class="active">Idade:</label> <input
						type="number" name="idade" th:field="*{idade}" id="idade"
						class="validate" />
				</div>

			</div>
			<input class="waves-effect waves-light btn" type="submit"
				value="Salvar" /> <input class="waves-effect waves-light btn"
				type="button" value="Novo"
				onclick="document.getElementById('formPessoa').reset();" />
		</form>
	</div>

	<br />
	<br />


	<br />
	<div class="row">
		<form action="pesquisarpessoa" method="post">
			<label for="nomepesquisa" class="active">Pesquisar por Nome:</label>
			<input type="text" name="nomepesquisa" id="nomepesquisa"> <input
				class="waves-effect waves-light btn" type="submit" value="Pesquisar" />
		<a class="waves-effect waves-light btn" href="/listapessoas">Lista
			de Pessoas</a>
		</form>
	</div>
	<br />

	<table class="striped">
		<thead>
			<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Sobrenome</th>
			<th>Idade</th>
			<th>Editar</th>
			<th>Excluir</th>
			</tr>
		</thead>
		<tr th:each="pessoa : ${pessoas}">
			<td th:text="${pessoa.id}" />
			<td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text="${pessoa.nome}"></span></a></td>
			<td th:text="${pessoa.sobrenome}" />
			<td th:text="${pessoa.idade}" />
			<td><a
				th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
			<td><a
				th:href="@{/excluirpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
		</tr>
	</table>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>