<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/materialize/css/style.css">	
<meta charset="ISO-8859-1">
<title>Cadastro de Telefones</title>
</head>
<body>
	<h3>Spring boot + Thymeleaf + Material Design Lite</h3>
	<h5>Cadastro de telefones</h5>
	
	
	<a href="/cadastropessoa" class="waves-effect waves-light btn">Cadastro de Pessoas</a>
	<div th:each="p : ${pessoaobj}">
		<div class="row">
			<p>id:<span th:text="${p.id}"></span></p>
			<p>Nome:<span th:text="${p.nome}"></span></p>
			<p>Sobrenome:<span th:text="${p.sobrenome}"></span></p>
			<p>Idade:<span th:text="${p.idade}"></span></p>
		</div>
	</div>

		<div class="row">
		
			<br/>
			<div th:each="m : ${msg}">
				<ul class="collection">
					<li class="collection-item"><span th:text="${m}"></span></li>
				</ul>
			</div>
			<br/>
		
		
			<form th:action="@{/salvartelefone/{idpessoa}(idpessoa=${pessoaobj.id})}" method="post" class="col s12" onsubmit="return validarCampos()? true : false">
				<div class="input-field col s12">
					<label for="id" class="active">id:</label>
					 <input type="text"	name="id" id="id" class="validate" readonly="readonly"/>
				 </div>
				<div class="input-field col s12">
					<input type="number" id="numero" class="validate" name="numero">
					<label class="active" for="numero">Numero</label>
				</div>
				<div class="input-field col s12">
					<label class="active"for="tipo">Tipo</label>
					<input type="text" id="tipo" class="validate" name="tipo">
				</div>
				<button type="submit" class="waves-effect waves-light btn">Salvar</button>
			</form>
		 </div>
		 
		 <table class="striped">
		<thead>
			<tr>
			<th>Id</th>
			<th>Numero</th>
			<th>Tipo</th>
			</tr>
		</thead>
		<tr th:each="tel : ${telefones}">
			<td th:text="${tel.id}" />
			<td th:text="${tel.numero}" />
			<td th:text="${tel.tipo}" />
<!-- 			<td><a -->
<!-- 				th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td> -->
			<td><a th:href="@{/excluirtelefone/{idtelefone}(idtelefone=${tel.id})}">Excluir</a></td>
		</tr>
	</table>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	
	<script type="text/javascript">
		function validarCampos() {
			numero  = document.getElementById('numero').value;
			tipo  = document.getElementById('tipo').value;
			
			if (numero == ''){
				alert ('Informe o numero');
				return false;
			} else if (tipo == ''){
				alert('Informe o tipo');
				return false;
			}
			return true;
		}
	</script>
</body>
</html>